:root {
  --primary-100: #8046a7;
  --primary-100-hover:#8046a773;
  --primary-200: #9963bd;
  --primary-300: #b087cc;
  --accent-100: #ba68c8;
  --accent-200: #ba68c8;
  --accent-300: #ba68c8;
  --background-100: #1f1028;
  --background-100-hover:#2d173a7d;
  --background-200: #2d173a;
  --background-300: #3b1f4c;
  --background-400: #a21352;
  --text-100: #fcfbfd;
  --text-200: #efeaf5;
  --text-300: #e3d9ec;
  --text-300-hover:#e3d9ec40;
}

*,
::before,
::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-size: 16px;
  
}
body{
  width: 100vw;
  height: 100vh;
}
@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#app{
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: system-ui,sans-serif;
  display: grid;
  grid-template-columns: minmax(140px, 30%) 80%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "header header"
                        "aside main" ;

  header-component{
    grid-area: header;
    z-index: 100;
  }
  aside-component{
    grid-area: aside;
    height: 100%;
    max-width: 640px;
    z-index: 50;
  }
  .tables{
    grid-area:main;
    position: relative;
    z-index: 0;
    overflow: auto;
    scroll-behavior: smooth;

  }
  table-component{
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;

    top: 0;
    left: 0;
    
  }

}

@media (min-height: 600px){
  #app{
    grid-template-rows: 6% 94%;
  }
}
